/* Modal styles */
.announcement-modal {
    width: 100%;
    /* border: 12px solid red; */
  }

  .container {
    display: grid;
    grid-template-columns: 50% 50%;
  }

  .ant-modal-content {
    max-height: 800px;
    width: 130%;
    }
 
  /* Form styles */
  .announcement-form {
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    margin-bottom: 16px;
  }
  
  label {
    font-weight: bold;
  }
  
  input,
  textarea {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  
  button {
    margin-top: 16px;
  }


.announcement-list {
    margin-top: 20px;
  }
  
  .announcement-list h2 {
    font-size: 24px;
    margin-bottom: 10px;
    font-family: lato;
    text-align: center;
  }
  
  .announcement-list p {
    font-size: 16px;
    font-family: lato;
  }
  
  .announcement-list ul {
    list-style: none;
    padding: 0;
  }
  
  .announcement-list li {
    margin-bottom: 20px;
  }
  
  .announcement-list li h3 {
    font-size: 20px;
    margin-bottom: 5px;
  }


.list-container {
    margin: 15px;
    border-radius: 10px;
    background-color: #fff;
    padding-bottom: 15px;
}

.list-item {
    background-color: #fff;
    margin: 10px;
    padding: 15px;
}

.loading-more {
  text-align: center;
}

  
  