.table-data {
  border: 2px solid red;
  width: 100%;
}

.attendance-container {
  border: 2px solid red;
  width: 100%;
}

.button-conatiner {
  border: 2px solid red;
  display: flex;
  justify-content: end;
  margin: 15px;
}

.ant-pagination {
  display: flex;
  justify-content: start;
  margin-top: 16px;
  border: 2px solid red;
}

.ant-pagination-item,
.ant-pagination-prev,
.ant-pagination-next {
  margin: 0 4px;
}

.ant-pagination-item-active a {
  color: #000000FF;
}

.ant-pagination-prev,
.ant-pagination-next {
  border: 1px solid #d9d9d9;
  border-radius: 2px;
}

.ant-pagination-prev-icon,
.ant-pagination-next-icon {
  color: #999;
}

.ant-pagination-prev-icon:before,
.ant-pagination-next-icon:before {
  font-size: 12px;
}

.ant-pagination-prev:hover,
.ant-pagination-next:hover,
.ant-pagination-prev:focus,
.ant-pagination-next:focus {
  border-color: #1890ff;
}

.ant-pagination-jump-prev,
.ant-pagination-jump-next {
  display: none;
}

.total-record {
  border: 2px solid red;
  margin: 15px;
  font-size: 20px;
  font-family: lato;
}

.attendance-form {
}

.text-input {
  width: 100%;
}

.select-input {
  width: 100%;
}

.success-message {
  color: green;
}

.attendance-button {
  margin-top: 10px;
}

.button-submit {
  border: 2px solid red;
}
